.statsCategory {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  font-family: sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 65%;
}

h2 {
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.statsCity {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

p{
  font-size: 25px;
}

.containerStatsCity{
  display: flex;
  flex-direction: column;
}